[alias]
	logg = log --graph --pretty=oneline
[color]
	ui = auto
[core]
	autocrlf = input
	editor = vim
	symlinks = true
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = simple
[user]
	email = rdrgn@users.noreply.github.com
	name = remin
	username = rdrgn
